@import "reset";
@import "variables";

.nws-wrapper {
	margin: @nws-margin;
	background: @nws-bgColor;
	position: relative;
	overflow: auto;
	font-size: @nws-textSize;
}
.nws-nav{
	display: block;
	position: absolute;
	width: @naw-nav-width;
	margin: @nws-margin;
	a{
		color : @pointColor;
		&:hover{
			text-decoration: none;
			color: @pointColor*1.1;
		}
	}
	ul{
		width: @naw-nav-width;
		li{
			border-right: solid 4px @nws-borderColor;
			background: @nws-borderColor*1.2;
			display: block;
			list-style: none;
			margin: @nws-margin/4 0;
			padding: @nws-padding/4;
			text-align: right;
			cursor: pointer;
			&:first-child
			{
				margin: 0 0 @nws-margin/4 0;
			}
		}
	}
}
.nws-dashboard{
	margin: @nws-margin 0 @nws-margin 0;
	padding: @nws-padding;
	background: @nws-bgColor*1.04;
	h1{
		margin: @nws-margin/5;
		font-size: @nws-titleSize;

	}
}
.nws-body{
	display: block;
	position: relative;
	margin: @nws-margin @nws-margin @nws-margin (@naw-nav-width+@nws-margin*2);
	table{
		thead{
			background: @nws-headColor;
		}
		tr{
			&:nth-child(even){
				background: @nws-evenColor;
			}
			&:nth-child(odd){
				background: @nws-oddColor;
			}
			td{
				//text-align: center;
			}
		}
		.nws-group-collaps{
			font-size: @nws-titleSize;
			display: block;
			padding: @nws-padding*.5;
		}
	}
}
