/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/* Mixin */
.nws-wrapper {
  margin: 20px;
  background: #fafafa;
  position: relative;
  overflow: auto;
  font-size: 12px;
}
.nws-nav {
  display: block;
  position: absolute;
  width: 100px;
  margin: 20px;
}
.nws-nav a {
  color: #15378c;
}
.nws-nav a:hover {
  text-decoration: none;
  color: #173d9a;
}
.nws-nav ul {
  width: 100px;
}
.nws-nav ul li {
  border-right: solid 4px #bfbfbf;
  background: #e5e5e5;
  display: block;
  list-style: none;
  margin: 5px 0;
  padding: 5px;
  text-align: right;
  cursor: pointer;
}
.nws-nav ul li:first-child {
  margin: 0 0 5px 0;
}
.nws-dashboard {
  margin: 20px 0 20px 0;
  padding: 20px;
  background: #ffffff;
}
.nws-dashboard > h1 {
  margin: 4px;
  font-size: 24px;
}
.nws-dashboard > h2 {
  margin: 4px;
  font-size: 19.2px;
}
.nws-dashboard > p {
  margin: 4px;
}
.nws-dashboard .nws-dashboard-percent {
  font-size: 16.8px;
  color: #15378c;
}
.nws-body {
  display: block;
  position: relative;
  margin: 20px 20px 20px 140px;
}
.nws-body > h1 {
  font-size: 24px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.nws-body > h2 {
  font-size: 21.6px;
}
.nws-body table {
  margin: 20px auto;
}
.nws-body table thead {
  background: #e9e9e9;
}
.nws-body table .name {
  min-width: 300px;
}
.nws-body table .issue {
  max-width: 150px;
}
.nws-body table tr:nth-child(even) {
  background: #f0f0f0;
}
.nws-body table tr:nth-child(odd) {
  background: #fdfdfd;
}
.nws-body table tr td {
  padding: 8px;
}
.nws-body table tr td .modifying {
  background: #ffca49;
}
.nws-body table tr td .undone {
  background: #4ca5e5;
}
.nws-body table tr td .complete {
  background: #3af03a;
}
.nws-body table tr td .delete {
  background: #d06255;
}
.nws-body table tr td .standby {
  background: #cccccc;
}
.nws-body table .modifying {
  background: #ffffbe !important;
  color: #66511d;
}
.nws-body table .modifying td:last-child {
  background: #ffca49 !important;
  color: #000000;
}
.nws-body table .undone {
  background: #c6ffff !important;
  color: #1e425c;
}
.nws-body table .undone td:last-child {
  background: #4ca5e5 !important;
  color: #000000;
}
.nws-body table .complete {
  background: #97ff97 !important;
  color: #176017;
}
.nws-body table .complete td:last-child {
  background: #3af03a !important;
  color: #000000;
}
.nws-body table .delete {
  background: #ffffdd !important;
  color: #532722;
}
.nws-body table .delete td:last-child {
  background: #d06255 !important;
  color: #000000;
}
.nws-body table .nws-table-sum tr:first-child td {
  border-top: solid 3px #6e6e6e !important;
  padding-top: 8px;
}
.nws-body table .nws-table-sum tr td {
  border: 0 !important;
  padding: 8px;
}
.nws-body table .nws-table-sum span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.46);
  color: #ffffff;
  padding: 2px 4.4px;
  margin: 0 4px;
  border: solid 1px rgba(0, 0, 0, 0.33);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 10px;
}
.nws-body table .nws-group-col {
  background: transparent !important;
}
.nws-body table .nws-group-col td {
  padding: 0;
  background: transparent;
}
.nws-body table .nws-group-col td a {
  margin: 20px 0 0 0;
  background: #fefefe;
  font-size: 24px;
  display: block;
  padding: 30px 20px 10px;
}
