<div class="nws-wrapper">
	<nav nws-menu class="nws-nav"></nav>
	<div class="nws-body" nws-table>
		<p><strong>Page:</strong> {{tableParams.page()}}</p>

		<p><strong>Count per page:</strong> {{tableParams.count()}}</p>

		<table ng-table="tableParams" class="table">
			<thead>
				<tr>
					<th ng-repeat="(key, value) in tableParams.data[0]">{{ key }}</th>
				</tr>
			</thead>
			<tr ng-repeat="(key, value) in tableParams.data">
				<td class="nws-{{ k }}" ng-repeat="(k, v) in value" data-title="k.toString()">
					<p ng-if="!httpreg(v)">{{v}}</p>
					<a ng-if="httpreg(v)" href="{{ v }}" target="_blank" >{{v}}</a>
				</td>
			</tr>
		</table>


		<div ng-repeat="test in worksheetParams.category">
			<h1>{{ test.name }}</h1>
			<table ng-table class="table">
				<thead>
				<tr>
					<th ng-repeat="(key, value) in test.data[0]">{{ key }}</th>
				</tr>
				</thead>
				<tr ng-repeat="(key, value) in test.data">
					<td class="nws-{{ k }}" ng-repeat="(k, v) in value" data-title="k.toString()">
						<p ng-if="!httpreg(v)">{{v}}</p>
						<a href="{{ v }}" ng-if="httpreg(v)">{{v}}</a>
					</td>
				</tr>
			</table>
		</div>

	</div>

	<!--{{ tableData.category }}-->

</div>
